@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', serif;
}
.card1 {
    background: rgb(56, 195, 255);
    background: -moz-linear-gradient(0deg, rgba(56, 195, 255, 1) 0%, rgba(0, 134, 237, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(56, 195, 255, 1) 0%, rgba(0, 134, 237, 1) 100%);
    background: linear-gradient(0deg, rgba(56, 195, 255, 1) 0%, rgba(0, 134, 237, 1) 100%);
}

.card2 {
    background: rgb(255, 112, 112);
    background: -moz-linear-gradient(0deg, rgba(255, 112, 112, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 112, 112, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 112, 112, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.card3 {
    background: rgb(138, 255, 210);
    background: -moz-linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
    background: linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
}

.card4 {
    background: rgb(138, 255, 210);
    background: -moz-linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
    background: linear-gradient(0deg, rgba(138, 255, 210, 1) 0%, rgba(107, 207, 168, 1) 100%);
}
